@font-face {
    font-family: Gaegu;
    src: url('assets/gaegu-regular.ttf');
  }


* {
    box-sizing: border-box;
    font-family: Gaegu;
}
.wrapper {
    background-image: url(assets/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 99svh;
    gap: 30px;
}
.header{
    text-align: center;
    background-color: rgba(189, 219, 248, 0.85);
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;

}
.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;   
}
.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.el-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    background-color: rgba(189, 219, 248, 0.85);
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    height: 60px;
}

.el-order{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 241, 230, 0.85);
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    height: 60px;
}
.game{
    max-width: 230px;

}
.master{
    max-width: 178px;

}
.when{
    max-width: 185px;

}
.score{
    max-width: 103px;

}
.number{
    max-width: 43px;
}


@media (max-width: 690px) {

    .header{
        font-size: 30px;
    }

    .el-head {
        font-size: 20px;
        height: 50px;
    }
    
    .el-order{
        font-size: 15px;
        height: 50px;
    }


}